* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }
  
  nav {
    display: flex;
    background-color: #d8a47f;
    justify-content: center;
  }
  
  nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  main {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* align-items: stretch; */
  }

  
  aside {
    flex: 1;
    background-color: #b9c6ae;
    padding: 20px;
  }
  
  section {
    flex: 3;
    background-color: #fff;
    padding: 40px;
  }
  
  .sample-img {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
  }
  
  footer {
    padding: 60px;
    text-align: center;
    background: #0a0a0a;
    color: #d41515;
    /* position:absolute; */
    /* left: 0; */
    /* bottom: 0;
    width: 100%; */
  }
